.counter {
    font-size: 70px;
    text-align: center;
}

tr {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

table {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

th {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.ticket-list {
    text-align: center;
}

.ticket-list {
    font-size: 20px;
}