body {
    margin-top: 50px;
    font-family: Helvetica;
    background-color: #20262e;
}

.app {
    margin: 10px;
}

.wrapper {
    display: grid;
    grid-gap: 15px;
/*    overflow: hidden;*/
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(minmax(4, 1fr));
    height: 90vh;
}

.item {
    background-color: #d0940f;
    color: #20262e;
    border-radius: 5px;
    font-size: 60px;
}

.a {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

.b {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.c {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
}

.d {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 5;
}

.e {

}

.f {
    
}

.g {
    grid-column-start: 3;
}

.h {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 5;
}